<link rel="stylesheet" href="/CSS/aside.css">

<aside class="aside-section">
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/4814/4814489.png" alt="Weather Forecast">Weather Forecast</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/3944/3944289.png" alt="Know your crop">Know your crop</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/4087/4087012.png" alt="Seeds">Seeds</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/1465/1465973.png" alt="Fertilizer">Fertilizer</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/2194/2194813.png" alt="Machinery">Machinery</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/9096/9096008.png" alt="Warehouse">Warehouse</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/5863/5863676.png" alt="Livestock">Livestock</a>
    <a class="aside-anchor" href=""><img class="aside-anchor-img" src="https://cdn-icons-png.flaticon.com/128/4807/4807598.png" alt="Community">Community</a>
</aside>