aside {
    width: 20%;
    float: left;
    border: 1px solid black;
    min-height: 67.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .aside-anchor{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    text-decoration: none;
    /* background-color: red; */
  }

  .aside-anchor-img{
    width: 15%;
    aspect-ratio: 1;
    margin: 1%;
    /* background-color: red; */
  }