header{
    width: 100%;
    height: 12.5vh;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: #edffdd;
}

.header-heading{
    color: #344e41;
    font-size: 2rem;
    font-weight: 600;
}

.header-heading-span{
    color: #344e41;
    font-weight: 300;
}

.header-button{
    padding: 0.65% 2%;
    max-width: 15vw;
    font-size: 1.2em;
    background: #fff;
    background: #a7c957;
    background: #aacc00;
    border: none;
    cursor: pointer;
    border-radius: 5vh;
}