@font-face {
    font-family: "spartan";
    src: url('/Fonts/LeagueSpartan-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: spartan;
    font-family: raleway;
    color: #333;
}

body{
    height: 200vh;
}